.header-navigation {
    font-family: $font-lato;
    display: flex;
    justify-content: space-between;
    padding-top: 45px;
    color: #FFDFC0;
    margin-bottom: 80px;


    .nav-menu {
        display: flex;
        margin-left: 180px;

        .item {
            margin-left: 60px;

            .link {
                color: #FFDFC0;
                line-height: 19px;
                position: relative;

                &::after {
                    content: '';
                    position: absolute;
                    background: currentColor;
                    width: 0;
                    height: 1px;
                    left: 50%;
                    bottom: -2px;
                    transition: all .3s;
                }

                &:hover::after {
                    width: 100%;
                    left: 0;
                }
            }


        }
    }



    .info-menu {
        display: flex;
        margin-right: 180px;
        text-decoration: none;

        .item {
            margin-right: 80px;

            .number {
                font-weight: 700;
                color: #FFDFC0;
                font-family: $font-lato;
                font-size: 16px;
                line-height: 19px;
                text-align: center;
            }
        }
    }
}